# note that this does not include examples and tests - see the source repo for that
include setup.py
include .gitignore
include *.md
include *.rst
include *.txt
include osnap/*.pkgproj
include LICENSE
include MANIFEST.in
include osnap/*.py
include osnap/*.zip
